---
import site from "@/config/site";
import { Image } from "astro:assets";
---

<div
  class="mb-6 flex items-center self-center md:self-start gap-4 md:mb-10 md:flex-col md:items-start md:gap-0"
>
  <div
    class="flex h-20 w-30 items-center justify-center text-lg font-bold text-primary-foreground md:h-20 md:w-40"
  >
    <Image
      loading={"eager"}
      src={site.meta.logo}
      alt={"Site logo"}
      width={150}
      height={150}
    />
  </div>
  <div class="md:mt-8">
    <h1
      data-pagefind-ignore
      class="text-lg font-bold tracking-tight text-foreground md:text-xl"
    >
      {site.meta.title}
    </h1>
    <p
      class="mt-2 hidden text-xs text-muted-foreground/70 md:block"
    >
      {site.meta.description}
    </p>
  </div>
</div>
