---
import site from "@/config/site";
import Nav from "./Nav.astro";
import ThemeToggle from "./ThemeToggle.astro";
import { Icon } from "astro-icon/components";
import Brand from "./Brand.astro";
import SearchModal from "../blocks/SearchModal.astro";
import SearchBox from "./SearchBox.astro";
---

<aside
  class="flex w-full flex-col border-b border-border bg-muted/20 p-6 md:w-[35%] md:border-r md:border-b-0 md:p-12"
  data-pagefind-ignore="all"
>
  <Brand />

  <!-- <SearchBox /> -->

  <Nav />

  <div class="mt-8 flex items-center justify-between md:mt-14">
    <div class="flex gap-4 text-muted-foreground/60">
      {
        site.social.map((item) => (
          <a
            href={item.href}
            class="cursor-pointer transition-colors hover:text-primary"
            aria-label={item.name}
          >
            <Icon name={item.icon} size={24} />
          </a>
        ))
      }
    </div>

    <ThemeToggle />
  </div>

  <!-- <SearchModal /> -->
</aside>
