---
import { Icon } from "astro-icon/components";

interface Props {
  type: "info" | "warning" | "danger" | "success";
  title: string;
}

const { type = "info", title } = Astro.props;

const config = {
  info: {
    icon: "mdi:information",
    label: "Info",
    color: "var(--callout-info)",
  },
  warning: {
    icon: "mdi:warning",
    label: "Warning",
    color: "var(--callout-warning)",
  },
  danger: {
    icon: "mdi:dangerous",
    label: "Danger",
    color: "var(--callout-danger)",
  },
  success: {
    icon: "mdi:success-circle",
    label: "Success",
    color: "var(--callout-success)",
  },
};

const current = config[type] || config.info;
---

<div
  class="not-prose my-8 flex gap-4 rounded-md p-5 transition-all"
  style={`
    background-color: oklch(from ${current.color} l c h / 0.1); 
  `}
>
  <div class="text-xl select-none" style={`color: ${current.color}`}>
    <Icon name={current.icon} />
  </div>
  <div class="flex-1">
    {
      title && (
        <div
          class="mb-1 text-sm font-extrabold tracking-wider uppercase"
          style={`color: ${current.color}`}
        >
          {title || current.label}
        </div>
      )
    }
    <div class="text-sm leading-relaxed font-normal text-muted-foreground">
      <slot />
    </div>
  </div>
</div>
