---
import Hero from "@/components/blocks/Hero.astro";
import RecentPosts from "@/components/blocks/RecentPosts.astro";
import Footer from "@/components/layout/Footer.astro";
import site from "@/config/site";
import Layout from "@/layouts/Layout.astro";
---

<Layout title={site.meta.title} description={site.meta.description}>
  <div
    class="animate-in fade-in slide-in-from-bottom-4 mx-auto max-w-2xl p-8 md:p-16"
  >
    <Hero />

    <RecentPosts />
  </div>
</Layout>
