---
import LinkButton from "./LinkButton.astro";
import Hr from "./Hr.astro";
---

<div class="cta-wrapper">
    <Hr noPadding />
    <div class="cta-text">
        <h2>Let's get in touch!</h2>
        <p><LinkButton className="underline underline-offset-4 decoration-solid hover:text-skin-inverted hover:decoration-transparent hover:bg-gradient-to-r hover:from-[rgba(233,60,172,75%)] hover:to-[rgba(30,30,232,75%)] hover:rounded-md active:bg-gradient-to-r active:from-[#E93CAC] active:to-[#1E1EE8] active:rounded-md active:text-skin-inverted active:decoration-transparent" href="https://www.linkedin.com/in/heyjustinkim/">Connect with me on LinkedIn</LinkButton> and let me know about any design, development, or writing jobs I can help you with.</p>
        
    </div>
</div>

<style>
    .cta-wrapper {
        @apply mx-auto w-full max-w-3xl pb-8;
    }
    .cta-text {
        @apply pt-12 pb-4;
    }
    h2 {
        @apply text-2xl font-semibold tracking-wide pb-3;
    }
</style>