<ul class="back-top-link">
    <li>
      <button
        class="focus-outline mb-2 mt-8 flex hover:opacity-75"
        onclick="window.scrollTo({
          top, 
          behavior: 'smooth',
        });">
        ^ Back to the top
      </button>
    </li>
  </ul>

<style>
    .back-top-link {
        @apply mt-10;
    }
</style>