<ul class="back-top-link">
    <li>
      <button
        class="focus-outline mb-2 mt-8 flex opacity-70 hover:underline hover:underline-offset-4 hover:decoration-dashed active:font-bold active:decoration-solid"
        onclick="window.scrollTo({
          top, 
          behavior: 'smooth',
        });">
        ^ Back to the top
      </button>
    </li>
  </ul>

<style>
    .back-top-link {
        @apply mt-10;
    }
</style>