---
import Sidebar from "@/components/layout/Sidebar.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { HeadProps } from "@/types";

type Props = HeadProps;

const head = Astro.props;
---

<BaseLayout {...head}>
  <div
    class="relative flex h-auto w-full max-w-5xl flex-col overflow-hidden rounded-none border border-border bg-card shadow-main md:flex-row md:rounded-[2.5rem]"
  >
    <Sidebar />

    <main
      class="custom-scrollbar flex-1 overflow-x-hidden overflow-y-auto md:h-200"
    >
      <slot />
    </main>
  </div>
</BaseLayout>
